<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'/principal/bienvenida'">Clinica Oggi</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'/principal'">Home</a>
        </li>
        <li class="nav-item" *ngIf="!estaLogueado">
          <a class="nav-link" aria-current="page" [routerLink]="'/principal/login'">Login</a>
        </li>
        <li class="nav-item" *ngIf="!estaLogueado">
          <a class="nav-link" aria-current="page" [routerLink]="'/principal/registro'">Sign Up</a>
        </li>
        
        <!-- Paciente Menu -->
        <li class="nav-item" *ngIf="estaLogueado && usuarioTipo === 3">
          <a class="nav-link" aria-current="page" [routerLink]="'/nuevo-turno'">Nuevo Turno</a>
        </li>
        <li class="nav-item" *ngIf="estaLogueado && usuarioTipo === 3">
          <a class="nav-link" aria-current="page" [routerLink]="'/historial'">Historial</a>
        </li>
        <li class="nav-item" *ngIf="estaLogueado && usuarioTipo === 3">
          <a class="nav-link" aria-current="page" [routerLink]="'/mis-turnos'">Mis Turnos</a>
        </li>
        <li class="nav-item" *ngIf="estaLogueado && usuarioTipo === 3">
          <a class="nav-link" aria-current="page" [routerLink]="'/mi-perfil'">Mi Perfil</a>
        </li>
        
        <!-- Médico Menu -->
        <li class="nav-item" *ngIf="estaLogueado && usuarioTipo === 2">
          <a class="nav-link" aria-current="page" [routerLink]="'/principal/aceptar-turnos'">Aceptar Turnos</a>
        </li>
        <li class="nav-item" *ngIf="estaLogueado && usuarioTipo === 2">
          <a class="nav-link" aria-current="page" [routerLink]="'/modificar-horarios'">Modificar Horarios</a>
        </li>
        <li class="nav-item" *ngIf="estaLogueado && usuarioTipo === 2">
          <a class="nav-link" aria-current="page" [routerLink]="'/ver-reportes'">Ver Reportes</a>
        </li>
        <li class="nav-item" *ngIf="estaLogueado && usuarioTipo === 2">
          <a class="nav-link" aria-current="page" [routerLink]="'/ver-pacientes'">Ver Pacientes</a>
        </li>
        <li class="nav-item" *ngIf="estaLogueado && usuarioTipo === 2">
          <a class="nav-link" aria-current="page" [routerLink]="'/calendario'">Calendario</a>
        </li>
        <li class="nav-item" *ngIf="estaLogueado && usuarioTipo === 2">
          <a class="nav-link" aria-current="page" [routerLink]="'/mi-perfil'">Mi Perfil</a>
        </li>
        
        <!-- Administrador Menu -->
         
        <li class="nav-item" *ngIf="estaLogueado && usuarioTipo === 1">
          <a class="nav-link" aria-current="page" [routerLink]="'/principal/nuevo-turno'">Nuevo Turno</a>
        </li>
        <li class="nav-item" *ngIf="estaLogueado && usuarioTipo === 1">
          <a class="nav-link" aria-current="page" [routerLink]="'/principal/administrar-medicos'">Administrar Médicos</a>
        </li>
        <li class="nav-item" *ngIf="estaLogueado && usuarioTipo === 1">
          <a class="nav-link" aria-current="page" [routerLink]="'/ver-reportes'">Ver Reportes</a>
        </li>
        <li class="nav-item" *ngIf="estaLogueado && usuarioTipo === 1">
          <a class="nav-link" aria-current="page" [routerLink]="'/turnos'">Turnos</a>
        </li>
        <li class="nav-item" *ngIf="estaLogueado && usuarioTipo === 1">
          <a class="nav-link" aria-current="page" [routerLink]="'/mi-perfil'">Mi Perfil</a>
        </li>
        
        <!-- Logout -->
        <li class="nav-item" *ngIf="estaLogueado">
          <a class="nav-link" (click)="logout()" aria-current="page" href="#">Logout</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
